.android*
.azure*
.bash_history
.config*
.dotnet*
.gradle*
.gitconfig*
.lesshst*
.nuget*
.template*
.viminfo*
.vscode*
.librarymanager*
.vim/.netrwhist*

3D*
AppData*
Application*
Contacts*
Cookies*
Desktop*
Documents*
Downloads*
Fav*
Links*
Local*
Microsoft*
Documents*
My* 
NTUSER*
OneDrive*
Pictures*
Recent*
Saved*
Searches*
Send*
Start*
Videos*
gdb*
ntuser*
sanct*
